version: "3"

services:
  {{ backend.servicename}}:
    build:
      context: ./
      dockerfile: ./Dockerfile_backend
    ports:
      - 9000:9000/tcp
    environment:
      - APPID=98a9964e4f08fd2a5bd96f9cc56e4209
    volumes:
      - {{ backend.volname }}:/app_backend

  {{ frontend.servicename }}:
    build:
      context: .
      dockerfile: ./Dockerfile_frontend
    ports:
      - 8000:8000/tcp
    environment:
      #- ENDPOINT=http://{{ backend.servicename }}:9000/api
      - NODE_OPTIONS=--openssl-legacy-provider
      - ENDPOINT=http://{{ FQDN }}:9000/api
    volumes:
      - {{ frontend.volname }}:/app_frontend

volumes:
  {{ backend.volname }}:
  {{ frontend.volname }}:
